img {
    max-width: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;

}
body{
    background: rgb(3,72,52);
    background: linear-gradient(90deg, rgba(3,72,52,1) 0%, rgba(0,255,218,1) 50%, rgba(12,81,78,1) 100%);
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}